.article_title {
    text-align: center;
    justify-content: center;
    color: #E5E9F1;
}

.article_content {
    color: #E5E9F1;
    margin: auto;
    max-width: 900px;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 150%;
}

code {
    display: inline-block ;
    background-color: #273136;
    border:1px solid #899ea9;
    border-radius:3px;
    padding: 4px 8px; 
    margin: 6px;
    color:#f2fffc;
    font-size: 18px;
    /* font-family: 'Courier New', Courier, monospace; */
    width: 100%;
    line-height: 120%;
    white-space: pre;
    overflow-x: auto;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: #ced2d9;
    margin: 20px 0;
}

h2 {
    font-size: 28px;
    /* font-weight: 500; */
    margin: 10px 0;
}

p {
    margin: 10px 0;
}