#selfIntro {
  color: #e5e9f1;
  opacity: 80%;
  word-wrap: break-word;
  padding-bottom: 2rem;
}

#Mysvg {
  stroke-linecap: round;
}

#p1 {
  stroke-dasharray: 595;
  stroke-dashoffset: 595;
  animation: draw 1s linear 0s forwards;
}
#p2 {
  stroke-dasharray: 304;
  stroke-dashoffset: 304;
  animation: draw 1.2s linear 0s forwards;
}
#p3 {
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  animation: draw 0.8s linear 1.2s forwards;
}
#p4 {
  stroke-dasharray: 286;
  stroke-dashoffset: 286;
  animation: draw 0.8s linear 1.2s forwards;
}
#p5 {
  stroke-dasharray: 257;
  stroke-dashoffset: 257;
  animation: draw 0.8s linear 1.2s forwards;
}
#p6 {
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  animation: draw 0.8s linear 1.2s forwards;
}
#p7 {
  stroke-dasharray: 257;
  stroke-dashoffset: 257;
  animation: draw 0.8s linear 1.2s forwards;
}
#p8 {
  stroke-dasharray: 167;
  stroke-dashoffset: 167;
  animation: draw 0.8s linear 1.2s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}
