.project_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.project_item {
  color: white;
  /* background-color: #2c343c; */
  opacity: 0.7;
  /* border: 1px solid #c2c5cc; */
  max-width: 80%;
}

.project_item:hover {
  opacity: 0.95;
}

.project_intro {
  opacity: 0.7;
}

.project_intro,
.project_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis
}

.gear {
  width: 2rem;
  height: 2rem;
}